<h1>Money Laundry</h1>

<p>Selamat Datang di Money Laundry</p>
<p>siap membersihkan pakaian anda sebersih pencucian uang</p>

<a href="/form">
  <button>Aku Mau Laundry</button>
</a>

<br><br>
<a href="/orders">Lihat Daftar Pesanan</a>