<div class="container">
  <div class="center-page">
<h2>Form Laundry</h2>

<form action="/result" method="POST">
  <label>Nama Pelanggan</label><br>
  <input type="text" name="nama" required><br><br>

  <label>Jumlah Pakaian</label><br>
  <input type="number" name="jumlah" required><br><br>

  <label>Jenis Laundry</label><br>
  <select name="jenis" required>
    <option value="express">Express (5 menit / pakaian)</option>
    <option value="reguler">Reguler (10 menit / pakaian)</option>
  </select><br><br>

  <button type="submit">Proses Laundry</button>
</form>
</div>
</div>
