<!DOCTYPE html>
<html>
<head>
  <title>Money Laundry</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <hr>
  <h2>LAUNDRY TERBAIK SEPANJANG MASA</h2>
  <hr>

  <%- body %>

</body>
</html>
